<div class="nested-fields">


  <div class="field">
    <%= f.label :excercise %>
    <%= f.select :excercise_id, @excercises.collect {|p| [p.name, p.id] } %>
  </div>

  <div class="field">
    <%= f.label :reps %>
    <%= f.text_field :reps %>
  </div>

  <div class="field">
    <%= f.label :series %>
    <%= f.text_field :series %>
  </div>

  <%= link_to_remove_association "remove task", f %>

</div>
